<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="roolStyl.css" />
    <title>Roolz</title>
  </head>
  <body>
    <h2>INSTRUCTIONS FOR MASTERMIND ONLINE</h2>
    <form action="/play" method="GET">
      <input type="submit" value="PLAY NOW" />
    </form>
    <p id="intro">
      Welcome to my online interpretation of the classic board game Mastermind!
      I built this out of frustration of not being able to play the game with my
      brother sitting thousands of miles away. As you've probably figured, my
      game allows you to play with your friends across the globe.
    </p>
    <p>
      The starting screen asks you to input a room name and your own name,
      following which the first entrant into the room will choose between the
      CodeMaker (CM) and the CodeGuesser (CG):
    </p>
    <img src="https://i.ibb.co/MsmhKDX/one.png" />
    <p>
      On the next screen the CM must input his code for the round while the CG
      waits. After doing so, the CM will press the green arrow (which is used
      throughout the game as a submit button).
    </p>
    <img width="800px" src="https://i.ibb.co/ZVVkZMV/two.png" />
    <p>
      The game now starts! The CG makes his first guess (pressing the green
      button) and the CG chooses the red or white pins accordingly. The red
      thumbs-up button indicates a successful guess by the CG. The roles
      reverse, and round 2 begins!
    </p>
    <div>
      <div class="i">
        <img height="600px" src="https://i.ibb.co/XXx2CBF/five.png" />
      </div>
      <div class="i">
        <img height="600px" src="https://i.ibb.co/pzQ6D2R/four.png" />
      </div>
    </div>
  </body>
</html>
